# Next.js build output
frontend/.next/
frontend/out/

# Dependencies
node_modules/

# Credential Files
creds.json
frontend/refresh_token.json

# Logs and environment files
*.log
.env
.env.local
.env.*.local
